pyside6-addons==6.7.2 ; python_version >= "3.11" and python_version < "3.13"
pyside6-essentials==6.7.2 ; python_version >= "3.11" and python_version < "3.13"
pyside6==6.7.2 ; python_version >= "3.11" and python_version < "3.13"
shiboken6==6.7.2 ; python_version >= "3.11" and python_version < "3.13"
